

.nav {
  @apply text-2xl text-white;
 
}
/* Optional: Additional custom styles not available in Tailwind */
.nav:hover {
  
  color: #8f8b8b; /* Light gray for hover, complementing light theme */
  transition: color 0.2s ease-in-out;
}

.navActive {
    text-decoration: underline;
    text-decoration-color: #d32f2f;
}